/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-face-book {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 128px;
  height: 128px;
}
.icon-loc {
  background-image: url(../img/sprite.png);
  background-position: -130px 0px;
  width: 128px;
  height: 128px;
}
.icon-mail {
  background-image: url(../img/sprite.png);
  background-position: 0px -130px;
  width: 128px;
  height: 128px;
}
.icon-ok {
  background-image: url(../img/sprite.png);
  background-position: -130px -130px;
  width: 128px;
  height: 128px;
}
.icon-phone {
  background-image: url(../img/sprite.png);
  background-position: -260px 0px;
  width: 128px;
  height: 128px;
}
.icon-vk {
  background-image: url(../img/sprite.png);
  background-position: -260px -130px;
  width: 128px;
  height: 128px;
}
